.header {
  display: flex;
  color: MediumAquamarine;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  width: 100%;
  }

.navigation {
  display: inline-flex;
  justify-content: flex-end;
  width: 85%;
  }

ul {
  list-style-type: none;
}

span {
  display: inline-block;
  margin: 0px 15px;
}

a {color: black;}

.body {disply: flex;}

.column .large {width: 630px;}

.Phish, .orca, .earth, .burger, .camera {border: 1px solid black;}

.column .medium {width: 300px;}

.action, .cats {border: 1px solid black;}

.column .small {240px;}

.cookie, .bites {border: 1px solid black;}
