.header {
  display: flex;
  color: MediumAquamarine;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  width: 100%;
  }

.navigation {
  display: inline-flex;
  justify-content: flex-end;
  width: 85%;
  }

ul {
  list-style-type: none;
}

span {
  display: inline-block;
  margin: 0px 15px;
}

a {color: black;}

.body {
  display: flex;
  border: 1px solid black;
  padding-top: 30px;
  }


.column .large {
  display: flex;
  flex-direction: column;
  width: 630px;
  border: 1px solid black;
  }

.Phish, .orca, .earth, .burger, .camera {
  border: 1px solid black;
  margin-right: 30px;
  }

.title, .title2 {border-bottom: 1px solid black;}

.title {
  display: flex;
  background-image: url("C:/Users/Mary/test/git_practice/marypb.github.io/MyTimes/resources/images/img-story-main.png");
}

.title h5 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

.column .medium {
  width: 300px;
  flex-direction: column;
  border: 1px solid black;
  }

.action, .cats {
  border: 1px solid black;
  margin-right: 30px;
  }

.column .small {
  width: 240px;
  flex-direction: column;
  border: 1px solid black;
  }

.cookie, .bites {
  border: 1px solid black;
  margin-right: 30px;
  }

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
